header h2 {
	width:80%;
	float:right;
}

header h4 {
  width:80%;
  float:right;
}

header img {
  float:left;	
}


body, html {
  font-family:verdana,helvetica,tahoma,sans-serif;
  background-color:rgb(200,200,200);
}

nav {
	float:left;
	margin-left:0px;
	border-left:1px black solid;
	border-bottom:1px black solid;
	border-right:1px black solid;
	border-top:1px black solid;
	width:20%;
	background-color:rgb(100,100,100);
}

section {
	width:75%;
	float:right
}


object.skeleton {
  width:100%;
  height:100%;	
}


a {
	text-decoration:none;
	font-family:verdana,helvetica,tahoma,sans-serif;
	color:rgb(0,0,0);
	font-weight:bold;
}

p.p {
  margin: 16px 0px;
  font-size: smaller;
}

h2 {
  padding-left: 30px;
  border-bottom: 1px solid #000;
}

h1 {
  border-bottom: 0.2em solid #000;
}

h3 {
  /*padding-left: 30px;*/
  border-bottom: 1px solid #000;
}

h3 span {
  border-bottom: 0.2em solid #000;
}

project {
	font-family:verdana,helvetica,tahoma,sans-serif;
  color:rgb(0,0,0);
  font-weight:bold;
  text-decoration:underline;
}

h2 span {
  /* border-bottom: 0.2em solid #000;*/
}

.trhead {
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.trhead td {
  padding-left: 4px;
  padding-right: 4px;
}

.trdata {
  font-family: sans-serif;
  font-size: 10pt;
}

.trdata td {
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
}

.trdata td input[type="checkbox"] {
  text-align: center;
  margin: 0px auto;
  display: block;
}

.tdhead {
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  padding-right: 8px;
  text-align: right;
}

.tddata {
  font-family: sans-serif;
  font-size: 10pt;
  padding-left: 4px;
}




